.selectData{
    background: var(--bg-accent);
    color: var(--text-main);
    border: none;
}

.wrapperSelectData{

}

.smallSize{
    height: 4rem;
    width: 11vw;
    border-radius: 0.1875rem;
    padding: 0 1.2rem 0 1.2rem;
}
.selectPrimaryText{
    color: var(--text-main);
    margin: 0.4rem 0 0.4rem 0;
}

select option{
    font-family: 'Zen Dots', cursive;
    color: var(--text-main);
}

.largeSize{
    width: 100%;
    height: 4rem;
    border-radius: 0.1875rem;
    padding: 0 1.2rem 0 1.2rem;
}

.errorMessage{
    border: 1px solid var(--bg-error);
}


@media (max-width: 1290px) {
    .smallSize{
        height: 4rem;
        width: 6rem;
        border-radius: 0.1875rem;
        padding: 0 1.2rem 0 1.2rem;
    }
}
