@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    font-family: 'Zen Dots', cursive;
    margin: 0;
    padding: 0;
}


textarea,
input,
select{
    font-size: 100%;
    box-sizing: border-box;
}

h1 {font-size: 2.1vw}

h2 {font-size: 1.8vw;}

h3 {font-size: 1.5vw;}

h4 {font-size: 1.3vw;}

h5 {font-size: 1.1vw;}


h6 {font-size: 0.9vw;}
