.wrapper-blur-data {
    margin: 0 -7.5rem 0 -7.5rem;
}

.wrapper-package {
    margin: 7rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-primary-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-cards-ppf {
    margin: 3.2rem 0 0;
}

.wrapper-cards-ppf {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-img-ppf {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 4rem 0 0;
}
