.primary-styled-text-green {
    color: var(--text-accent);
}

.primary-styled-text-border-white {
    -webkit-text-stroke: 0.1px var(--text-main);
    -webkit-text-fill-color: transparent;
}

.wrapper-tintings-select-cards{
    margin: 5vw 0 5vw;
}
.wrapper-tinting-benefits {
    margin: 5vw 0 0 0;
}

.wrapper-banner {
    margin: 5vw -7.5vw 0 -7.5vw !important;
    background: var(--bg-medium);
}

.wrapper-tinting-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-tinting-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5rem 0 0;
    align-items: center;
    gap: 4vw;
}

.wrapper-benefits-primary-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper-banner-primary-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0 0;
}

.primary-text-tinting-benefits,
.primary-text-tinting-packages {
    margin: 0 1rem 0 0;
}

.wrapper-tinting-packages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5rem 0 2.5rem;
    align-items: center;
}

.wrapper-tinting-bennefits-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8em;
    grid-row-gap: 2em;
    margin: 3.5rem 0 0;
}

@media (max-width: 1290px) {
    .wrapper-tinting-bennefits-card{
        grid-template-columns: repeat(1, 1fr);
    }
    .wrapper-benefits-primary-text{
        color: var(--text-main);
        display: block;
        width: 100vw;
        margin: 0 -7.5vw;
    }

    .primary-styled-text-select-card,
    .primary-text-tinting-benefits{
        margin: 0 1rem;
    }

    .wrapper-banner-primary-text{
        display: block;
    }

    .wrapper-tinting-cards{
        width: 100vw;
        overflow: auto;
        margin: 2.5vh -7.5vw;
    }

    .wrapper-tinting-banner{
        align-items: normal;
    }

    .wrapper-tinting-packages {
        overflow-x: scroll;
    }
}