.accentColor{
    color: var(--text-accent);
}

.wrapperPrimaryText{
    margin: 1rem 0 0 0;
}

.wrapperSecondaryText{
    margin: 0.8vh 0 0;
    min-height: 19vh;

}

.alighnText{
    line-height: 248%;
}

@media (max-width: 1290px) {
    .wrapperSecondaryText{
        padding: 1rem ;
    }

}