.logo {
    height: 1.8rem;
    cursor: pointer;
}

header {
    width: auto;
    height: 4.6vw;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1E1E1E;

    margin: 0 -7.5vw 0 -7.5vw;
}

.burger-menu{
    display: none;
}

@media (max-width: 768px) {
    header {
        padding: 0 1rem;
    }
    .wrapper-butn{
        display: none;
    }

    .burger-menu{
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .logo {
        height: 1.5rem;
    }

    header {
        height: 3.5rem;
    }
}
