.informationCard {
    background: var(--bg-dark-soft);
    min-height: 62vh;
    width: 15vw;
    padding: 1vw;
    box-sizing: border-box;
}

.wrapperImg {
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.2rem 0 0 0;
}

.wrapperPrimaryAccentText {
    margin: 1.8rem 0 0;
    width: 100%;
}

.wrapperSecondaryText {
    margin: 1.8rem 0 0;
    width: 100%;
}

.imgIconReadCard {
    height: 50px;
}

.accentText {
    color: var(--text-accent);
    min-height: 3.8vh;
}

.secondaryCarsText {
    font-size: 0.7rem;
}

@media (max-width: 1290px) {
.informationCard{
    width: 12rem;
}

}