.button-dropdown{
    background: none;
}

.button-dropdown {
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-main);
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    width: 100%;
}

li .menu-items:hover {
    background: var(--text-accent);
    color: var(--text-main);
}

