.logo {
    height: 1.8rem;
    cursor: pointer;
}

.nav-bar {
    width: auto;
    height: 4.6rem;

    padding: 0 3.1rem;
    margin: 0 -7.5rem !important;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #1E1E1E;
}

.midl-side {
    height: 100%;
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar-menu {
    color: var(--text-main);
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    /* 106.667% */
}

.navBar-menu:hover{
    color: var(--text-main-hovered);
}