.wrapperPackageBennefit{
    margin: 4rem 0 4rem;
    width: 60%;
}

.wrapperButton,
.wrapperDescription{
    margin: 2.1rem 0 0;
}

.contentText{
    line-height: 2.1875rem;
}

.accentColor{
    color: var(--text-accent);
}

@media (max-width: 1290px) {
    .wrapperPackageBennefit{
        width: 100%;
    }

}