.wrapperTittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.packageWrapper{
    display: flex;
    align-items: center;
    margin: 2vh -7.5vw 0 0;
    overflow: hidden;
}

.wrapperContent{
    width: 65%;
}

.wrapperImg{
    position: relative;
    left: -23rem;
    top: 2rem;
}


.wrapperSecondaryText{
    margin: 0.5rem 0 0;
}

.wrapperSelectButtons{
    margin: 3.5rem 0 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100vw;
    overflow-x: scroll;
}

.wrapperTurnaround{
    margin: 1.9rem 0 1.9rem 0;
}

.accentColor{
    color: var(--text-accent);
}

.wrapperBenefitsCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    margin: 2.7rem 0 0
}

.wrapperBtn{
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 2.5rem 0 0;
}


@media (max-width: 1290px) {
    .packageWrapper{
        overflow: unset;
        margin: 2vh 0 0 -7vw;
    }
    .wrapperImg{
        display: none;
    }
    .wrapperTittle{
        width: 100vw;
        white-space: normal;
    }
    .wrapperContent{
        width: 100vw;
    }
}