button.accentBackground {
    background: var(--bg-accent);
    border: 1px solid var(--bg-accent);
    color: var(--text-light);
}

button.accentBorder {
    background: transparent;
    border: 1px solid var(--bg-accent);
    color: var(--text-accent);
}

.largeSize {
    width: 45%;
    min-height: 4vh;
    border-radius: 0.625rem;
    padding: 0.5em;
}

.smallSize {
    min-width: 24em;
    border-radius: 0.625rem;
    min-height: 2.5vh;
    padding: 0.5em;
}

button.hoverBorderGreen>h5>p {
    color: var(--text-light);
}

button.hoverBorderGreen {
    background: var(--bg-accent);
    border: 1px solid var(--bg-accent);
    color: var(--text-light);
}

.hoverText {
    color: var(--text-accent);
}

.accentColor {
    color: var(--text-accent);
}

.mainColor {
    color: var(--text-main);
}